*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
h1{
  color: #02073E;
}

.background_container{
  background-image: url('./Top\ section.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.banner-icon img{
  width: 84px;
  height: 84px;
}

.solution-cards .card-icon{
  width: 50px!important;
  height: 50px!important;
  margin-bottom: 10px !important;
}

.footer-main-tag{
  width: 100%;
  background-image: url('./Footer\ Legal.png');
  background-size: cover; 
  background-position: center; 
}

.bot-img-float{
  background-color: #ECECEC;
  margin-top: -175px;
}

.send-btn{
  background-color: #124EAC2E;
}
.close-icon-floating-bot{
  margin-top: -190px;
  position: absolute;
  background-color: #fff;
}

/* Chatbot */

.chatbot_main_container {
  background-image: url('./chatbotbg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
}

.overlay {
  height: 100vh;
  overflow: auto;
}

.chatbot_main_container .overlay .banner .banner-img {
  /* border: 1px solid purple; */
}
.chatbot_main_container .overlay .chatarea .chats .userchat .userchat-img img,
.chatbot_main_container .overlay .chatarea .chats .botchat .botchat-img img{
  width: 42px !important;
  height: 42px !important;
}
.chatbot_main_container .overlay .chatarea .chats .userchat .userchat-bg{
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 7px;
  padding: 12px 23px;
}
.chatbot_main_container .overlay .chatarea .chats .botchat .botchat-bg{
  background-color: #fff;
  border-radius: 7px;
  padding: 12px 23px;
}

.chatbot_main_container .overlay .chatarea .chats .userchat .userchat-bg .userchat-text,
.chatbot_main_container .overlay .chatarea .chats .botchat .botchat-bg .botchat-text{
  text-wrap: wrap;
}
.chatbot_main_container .overlay .chatarea{
  width: 100vw !important;
}
.chatbot_main_container .overlay .chatarea .chats{
  width: 80%;
}
.submit-btn{
  border-radius: 0px !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;

}

#inputtext{
  background-color: #FFFFFF;
  border: none;
  border-radius: 0px !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}
.promptarea .prompt{
  background: #DDDDDD;
}